.all-events-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.all-events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.control-panel {
    width: 100%;
}