.control-panel-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}
.control-panel-body .filter-search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.filter-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.filter-body label {
    flex-basis: 50%;
}

.search-bar, .filter-icon{
    display: flex;
    height: 25px;
}
.search-bar img, .filter-icon img  {
    margin: 0 5px;
}
.filter-icon span {
    display: flex;
    align-items: center;
}
